# Data Login E-Learning BSI
NIM_BSI=1220xxxx
PASS_BSI=password_elearning_anda

# Token Bot Discord (Dapatkan dari Discord Developer Portal)
DISCORD_TOKEN=MTA5ODc2NTQzMjEwOTg3NjU0.xxxxxx.xxxxxx

# ID Channel Discord Tempat Bot Mengirim Notifikasi
CHANNEL_ID=109876543210987654

# Konfigurasi Puppeteer (Tambahan)
# Set 'false' jika ingin melihat browser terbuka saat berjalan di komputer lokal (Windows)
# Set 'true' jika berjalan di VPS (Linux/Docker)
HEADLESS=true
PUPPETEER_EXECUTABLE_PATH=
